.flex {
    display: flex;
    width: 50%;
    margin-top: 5%;
}

h1 {
    font-size: 60px;
}

.half-with {
    width: 30px;
    margin-left: 200px;
}

.micro {
    margin-left: 20%;
    margin-top: 170px;
}

.orange {
    color: orangered;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 20px 30px;
    border-radius: 50px;
}

.text-desc {
    margin-bottom: 50px;
    font-size: 20px;
}

.tinku {
    margin-left: 15%;
    margin-top: 5%;
}

.pinku {
    margin-left: 10%;
    margin-top: auto;
}

.welx {
    display: flex;
    margin-top: 5%;
    background-image: url(images/shapes/Frame\ 59.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
}

.tik {
    text-align: center;
    font-size: 30px;
}

.box {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 13%;
}

.card {
    width: 300px;
    text-align: justify;
    margin-top: 30px;
    box-shadow: 15px 15px 30px gray;
    margin-bottom: 5%;
    border-radius: 30px;
    height: 450px;
    background-color: whitesmoke;
    border: 20px whitesmoke solid;
}

.card img {
    width: 100%;
}

.morsh {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 13%;
    box-shadow: 15px 15px 30px gray;
    margin-bottom: 5%;
    border-radius: 50px;
}

.neaz {
    font-size: 30px;
}

.color {
    color: orange;
}

.all {
    text-align: center;
    background-color: black;
    color: aliceblue;
    padding-top: 3%;
    padding-bottom: 3%;
}